<%- include('../includes/header.ejs') %>
  <%- include('../includes/navigation.ejs') %>
    <section id="details-page">

      <div class="main_card">
        <div class="card_left">
          <div class="card_datails">

            <h1>
              Title: <%=details.title%>
            </h1>
            <h3>
              Created by an author:
              <%=details.author.firstName%>
                <%=details.author.lastName%>
            </h3>
            <div class="card_animal">
              <p class="card-keyword">
                Keyword: <%=details.keyword%>
              </p>
              <p class="card-location">
                Location: <%=details.location%>
              </p>
              <p class="card-date">
                Date: <%=details.location%>
              </p>
            </div>

            <p class="disc">
              Description: <%=details.description%>
            </p>

            <div class="social-btn">
              <% if(isUserAuthor) {%>
                <a href="#" class="edit-btn">Edit</a>
                <a href="#" class="del-btn">Delete</a>
                <% } %>
                  <% if(isAuth && !isUserAuthor) {%>
                    <% if(isUserVoted) {%>
                      <a href="#" class="vote-down">DownVote -1</a>
                      <p class="thanks-for-vote">Thanks For Voting</p>
                      <% }else { %>
                        <a href="#" class="vote-up">UpVote +1</a>
                        <% } %>
                          <% } %>

            </div>
          </div>
        </div>
        <div class="card_right">
          <img src="<%=details.image%>" alt="image">
        </div>
      </div>

    </section>
    <%- include('../includes/footer.ejs') %>