<%- include('../includes/header.ejs') %>
  <%- include('../includes/navigation.ejs') %>
    <section id="details-page">

      <div class="main_card">
        <div class="card_left">
          <div class="card_datails">

            <h1>
              Title: <%=details.title%>
            </h1>
            <h3>
              Created by an author:
              <%=details.author.firstName%>
                <%=details.author.lastName%>
            </h3>
            <div class="card_animal">
              <p class="card-keyword">
                Keyword: <%=details.keyword%>
              </p>
              <p class="card-location">
                Location: <%=details.location%>
              </p>
              <p class="card-date">
                Date: <%=details.location%>
              </p>
            </div>

            <p class="disc">
              Description: <%=details.description%>
            </p>
            <div class="social-btn">
              <% if(isUserAuthor) {%>
                <a href="/edit-post/<%=details._id%>" class="edit-btn">Edit</a>
                <a href="/delete-post/<%=details._id%>" class="del-btn">Delete</a>
                <% } %>
                  <% if(isAuth && !isUserAuthor) {%>
                    <% if(isUserVoted) {%>
                      <a href="/post-details/decrease-vote/<%=details._id%>" class="vote-down">DownVote -1</a>
                      <p class="thanks-for-vote">Thanks For Voting</p>
                      <% }else { %>
                        <a href="/post-details/increase-vote/<%=details._id%>" class="vote-up">UpVote +1</a>
                        <% } %>
                          <% } %>
            </div>
            <div class="social-btn">
              <a href="/all-posts" class="vote-up">Back</a>
            </div>
          </div>
        </div>
        <div class="card_right">
          <img src="<%=details.image%>" alt="image">
        </div>
      </div>

    </section>

    <section id="votes">
      <div class="vote-info">
        <div class="card_left">
          <div class="card_datails">
            <h1>Votes</h1>
            <div class="card_vote">
              <p class="PV">
                Total rating of votes: <%= details.postRating %>
              </p>
            </div>
            <% if(details.postRating>0) {%>
              <p class="disc">
                People who voted for the post - <%= votedUsers %>
              </p>
              <% } else {%>
                <p class="disc">People who voted for the post - No one has voted yet.</p>
                <% } %>
          </div>
        </div>
      </div>
    </section>
    <%- include('../includes/footer.ejs') %>