<%- include('../includes/header.ejs') %>
  <%- include('../includes/navigation.ejs') %>
    <section id="my-posts">
      <h1>My post.</h1>

      <div class="my-container">
        <% if(userPosts) {%>
          <% for (let post of userPosts) { %>
            <div class="my-card">
              <div class="card-header">
                <img src="<%= post.image %>" alt="water_fall" />
              </div>
              <div class="card-body">
                <span class="tag tag-teal">
                  Keyword: <%=post.keyword%>
                </span>
                <h4>
                  Title: <%=post.title%>
                </h4>
                <div class="user">
                  <img src="<%=post.image%>" alt="vote" />
                  <div class="user-info">
                    <h5>
                      Author: <%=post.author.firstName %>
                    </h5>
                    <small>
                      Rating of votes: <%=post.postRating%>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
              <%} else {%>
                <div class="no-posts">
                  <div class="no-posts-img">
                    <! /-- Do not forget to change the path to the image, and remove this comment -- />
                    <img src="./static/img/bear.jpg" alt="image_nature_3">
                  </div>
                  <p class="no-offer">There are no own posts yet...</p>
                </div>
                <% } %>
      </div>
    </section>
    <%- include('../includes/footer.ejs') %>